body {
  font-family: '微软雅黑', Arial, monospace;
  color: #0c1011;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
.navbar {
  border-radius: initial;
  margin-bottom: 0;
}
.navbar .nav-mi {
  position: relative;
}
.navbar .nav-mi .navbar-header a {
  width: 120px;
  padding: 0;
  line-height: 50px;
}
.navbar .nav-mi .navbar-header a img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.navbar .nav-mi .pc-search form .form-control {
  border: 1px solid #00ff66;
  border-radius: initial;
}
.navbar .nav-mi .pc-search form .form-control:hover {
  border-color: red;
}
.navbar .nav-mi .pc-search form .btn-default:hover {
  background-color: #FDD26F;
}
.navbar .nav-mi .pc-search form .btn-default:hover i {
  color: #00ff66;
}
.navbar .nav-mi .sign-in li a {
  padding: 8px 0;
}
.navbar .nav-mi .sign-in li a .btn-warning {
  margin-left: 15px;
}
.navbar .nav-mi .sign-in li a .btn-success {
  margin-left: 5px;
}
.company-wrapper {
  background-color: rgba(100, 101, 103, 0.2);
}
.company-wrapper .company-info {
  padding-top: 30px;
}
.company-wrapper .company-info .row > div {
  padding-left: 50px;
  border-right: 2px solid black;
}
.company-wrapper .company-info .row > div:last-child {
  border: none;
  padding-left: 15px;
}
.company-wrapper .company-info .row .wechat {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}
.company-wrapper .company-info .row .wechat img {
  width: 240px;
  height: 100%;
}
.company-wrapper .company-info .row h2 {
  display: inline-block;
  border-bottom: 4px solid red;
  padding-bottom: 5px;
}
.company-wrapper .company-info .row h4 {
  color: #928a8a;
  line-height: 60px;
}
.copyright-wrapper {
  background-color: #3b3b39;
}
.copyright-wrapper .copyright {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: #9B9EA0;
  padding: 10px 0;
}
.copyright-wrapper .copyright p {
  margin: 2px 0;
}
.navbar .nav-mi .navbar-collapse .navbar-nav .dropdown .dropdown-toggle {
  color: #fff;
}
.navbar .nav-mi .navbar-collapse .navbar-nav .dropdown .dropdown-menu .active a {
  font-weight: bold;
  color: #ff0040;
  background-color: #fff;
}
.siwawa {
  margin-top: 50px;
  margin-bottom: 50px;
}
.siwawa .row .siwawa-left-wrapper .siwawa-video {
  position: relative;
}
.siwawa .row .siwawa-left-wrapper .siwawa-video .js-play-none {
  display: none;
}
.siwawa .row .siwawa-left-wrapper .siwawa-video .play {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid black;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 9;
}
.siwawa .row .siwawa-left-wrapper .siwawa-video .play i {
  font-size: 22px;
}
.siwawa .row .siwawa-left-wrapper .siwawa-picture {
  position: relative;
  margin-top: 30px;
}
.siwawa .row .siwawa-left-wrapper .siwawa-picture img {
  width: 100%;
}
.siwawa .row .siwawa-left-wrapper .siwawa-picture i {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 38px;
  color: #AEB7BF;
  text-align: center;
}
.siwawa .row .siwawa-left-wrapper .siwawa-picture i p {
  font-size: 18px;
}
.siwawa .row .siwawa-right-wrapper .siwawa-info .panel-body p {
  line-height: 56px;
  font-size: 18px;
}
.siwawa .row .siwawa-right-wrapper .siwawa-local .panel-title h3 {
  margin-left: 30px;
  font-weight: bold;
}
.siwawa .row .siwawa-right-wrapper .siwawa-local .panel-body {
  font-size: 16px;
  text-align: center;
  line-height: 60px;
}
@media screen and (max-width: 1400px) {
  .copyright-wrapper .copyright p {
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 4.03225806vw;
    background-color: #eff0f4;
  }
  .company-wrapper .company-info {
    padding-top: 30px;
  }
  .company-wrapper .company-info .row .wechat {
    display: block;
    position: fixed;
    right: 0;
    bottom: 200px;
    width: 140px;
    z-index: 99;
  }
  .company-wrapper .company-info .row .wechat img {
    display: block;
    width: 100%;
  }
  .company-wrapper .company-info .row .wechat h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 5.20833333vw;
    background-color: #eff0f4;
  }
  .navbar .nav-mi .navbar-header .logo {
    min-width: 120px;
  }
  .navbar .nav-mi .sign-in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar .nav-mi .mobile-search {
    position: absolute;
    width: 8.75rem;
    top: 10px;
    left: 60%;
    transform: translateX(-50%);
  }
  .navbar .nav-mi .mobile-search form {
    display: flex !important;
    flex-direction: row;
    align-items: center;
  }
  .navbar .nav-mi .mobile-search form .btn {
    margin-bottom: 15px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .mobile-nav {
    margin-top: 0.5rem;
    padding: 0 2.5rem;
    height: 2rem;
    display: flex !important;
    align-items: center;
    justify-content: space-around;
  }
  .mobile-nav a {
    color: #0c1011;
    font-size: 1rem;
    font-weight: bold;
  }
  .mobile-nav a:nth-child(odd) {
    padding-top: 5px;
    font-size: 0.85rem;
  }
  .company-wrapper .company-info {
    padding: 0;
  }
  .company-wrapper .company-info .row > div {
    border-right: none;
    padding: 0 0 0 15px;
  }
  .company-wrapper .company-info .row .contact {
    padding-left: 0;
  }
  .company-wrapper .company-info .row .wechat img {
    width: 6rem;
    height: 100%;
  }
  .company-wrapper .company-info .row .wechat h3 {
    font-size: 0.75rem;
  }
  .company-wrapper .company-info .row h2 {
    font-size: 0.95rem;
    display: inline-block;
    border-bottom: 2px solid red;
    padding: 0 0 5px 0;
  }
  .company-wrapper .company-info .row h4 {
    color: #928a8a;
    line-height: 20px;
    font-size: 0.625rem;
  }
}
/*# sourceMappingURL=public-food.css.map */