body {
  font-family: '微软雅黑', Arial, monospace;
  color: #0c1011;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
.navbar {
  border-radius: initial;
  margin-bottom: 0;
}
.navbar .nav-mi {
  position: relative;
}
.navbar .nav-mi .navbar-header a {
  width: 120px;
  padding: 0;
  line-height: 50px;
}
.navbar .nav-mi .navbar-header a img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.navbar .nav-mi .pc-search form .form-control {
  border: 1px solid #00ff66;
  border-radius: initial;
}
.navbar .nav-mi .pc-search form .form-control:hover {
  border-color: red;
}
.navbar .nav-mi .pc-search form .btn-default:hover {
  background-color: #FDD26F;
}
.navbar .nav-mi .pc-search form .btn-default:hover i {
  color: #00ff66;
}
.navbar .nav-mi .sign-in li a {
  padding: 8px 0;
}
.navbar .nav-mi .sign-in li a .btn-warning {
  margin-left: 15px;
}
.navbar .nav-mi .sign-in li a .btn-success {
  margin-left: 5px;
}
.company-wrapper {
  background-color: rgba(100, 101, 103, 0.2);
}
.company-wrapper .company-info {
  padding-top: 30px;
}
.company-wrapper .company-info .row > div {
  padding-left: 50px;
  border-right: 2px solid black;
}
.company-wrapper .company-info .row > div:last-child {
  border: none;
  padding-left: 15px;
}
.company-wrapper .company-info .row .wechat {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}
.company-wrapper .company-info .row .wechat img {
  width: 240px;
  height: 100%;
}
.company-wrapper .company-info .row h2 {
  display: inline-block;
  border-bottom: 4px solid red;
  padding-bottom: 5px;
}
.company-wrapper .company-info .row h4 {
  color: #928a8a;
  line-height: 60px;
}
.copyright-wrapper {
  background-color: #3b3b39;
}
.copyright-wrapper .copyright {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: #9B9EA0;
  padding: 10px 0;
}
.copyright-wrapper .copyright p {
  margin: 2px 0;
}
.carousel .carousel-inner .item img {
  width: 100%;
}
.hot-search .hot-search-title {
  margin-top: 10px;
  border-radius: initial;
}
.hot-search .hot-search-info li {
  background-color: rgba(242, 122, 164, 0.25);
  border: 1px solid #f9f7f7;
  text-align: center;
  box-shadow: 0 0 50px rgba(61, 61, 61, 0.3);
}
.hot-search .hot-search-info li > p {
  font-size: 18px;
  background-color: rgba(215, 209, 103, 0.49);
}
.hot-search .hot-search-info li a p {
  color: #0626f4;
}
.food-head ul {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  margin: 15px 0 10px 0;
  padding-top: 10px;
}
.food-head ul li {
  font-weight: bold;
  font-size: 22px;
}
.food-head ul li:nth-child(even) a {
  font-size: inherit;
  color: red;
}
.food-local {
  border-top: 1px solid #b1b1b1;
}
.food-local .ul {
  display: flex;
  align-items: center;
  align-content: flex-end;
  padding-bottom: 15px;
}
.food-local .ul h3 {
  padding-right: 5px;
}
.food-local .ul i {
  font-size: 18px;
  color: #f04a4a;
}
.food-local .food-wrapper {
  background-color: #f2f1f1;
}
.food-local .food-wrapper .food {
  transition: all 0.3s;
}
.food-local .food-wrapper .food:hover {
  transform: translateY(-4px) translateX(4px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9;
}
.food-local .food-wrapper .food .thumbnail {
  text-align: center;
}
.food-local .food-wrapper .food .thumbnail .food-cover {
  width: 100%;
}
.food-local .food-wrapper .food .thumbnail .food-title {
  font-weight: bold;
}
@media screen and (max-width: 1400px) {
  .copyright-wrapper .copyright p {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 2.85714286vw;
    background-color: #eff0f4;
  }
  .food-head ul li {
    font-size: 0.75rem;
  }
  .food-head ul li:nth-child(even) a {
    font-size: inherit;
    color: red;
  }
  .food-local .food-wrapper .food .thumbnail .food-title {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 4.03225806vw;
    background-color: #eff0f4;
  }
  .company-wrapper .company-info {
    padding-top: 30px;
  }
  .company-wrapper .company-info .row .wechat {
    display: block;
    position: fixed;
    right: 0;
    bottom: 200px;
    width: 140px;
    z-index: 99;
  }
  .company-wrapper .company-info .row .wechat img {
    display: block;
    width: 100%;
  }
  .company-wrapper .company-info .row .wechat h3 {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .hot-search .hot-search-info .well .row {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .hot-search .hot-search-info .well .row li {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 5.20833333vw;
    background-color: #eff0f4;
  }
  .navbar .nav-mi .navbar-header .logo {
    min-width: 120px;
  }
  .navbar .nav-mi .sign-in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar .nav-mi .mobile-search {
    position: absolute;
    width: 8.75rem;
    top: 10px;
    left: 60%;
    transform: translateX(-50%);
  }
  .navbar .nav-mi .mobile-search form {
    display: flex !important;
    flex-direction: row;
    align-items: center;
  }
  .navbar .nav-mi .mobile-search form .btn {
    margin-bottom: 15px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .mobile-nav {
    margin-top: 0.5rem;
    padding: 0 2.5rem;
    height: 2rem;
    display: flex !important;
    align-items: center;
    justify-content: space-around;
  }
  .mobile-nav a {
    color: #0c1011;
    font-size: 1rem;
    font-weight: bold;
  }
  .mobile-nav a:nth-child(odd) {
    padding-top: 5px;
    font-size: 0.85rem;
  }
  .company-wrapper .company-info {
    padding: 0;
  }
  .company-wrapper .company-info .row > div {
    border-right: none;
    padding: 0 0 0 15px;
  }
  .company-wrapper .company-info .row .contact {
    padding-left: 0;
  }
  .company-wrapper .company-info .row .wechat img {
    width: 6rem;
    height: 100%;
  }
  .company-wrapper .company-info .row .wechat h3 {
    font-size: 0.75rem;
  }
  .company-wrapper .company-info .row h2 {
    font-size: 0.95rem;
    display: inline-block;
    border-bottom: 2px solid red;
    padding: 0 0 5px 0;
  }
  .company-wrapper .company-info .row h4 {
    color: #928a8a;
    line-height: 20px;
    font-size: 0.625rem;
  }
}
@media screen and (max-width: 768px) {
  .food-local .ul h3 {
    font-size: 0.85rem;
  }
  .food-local .ul i {
    font-size: 0.65rem;
  }
  .food-local .food-wrapper {
    display: flex;
    overflow: auto;
    margin: 0 auto;
    width: 17.7rem;
  }
  .food-local .food-wrapper .food {
    flex: none;
  }
}
/*# sourceMappingURL=index.css.map */