@import "public/public-index";

// 轮播
.carousel {
  .carousel-inner {
    .item {
      img {
        width: 100%;
      }
    }
  }
}

// 热搜
.hot-search {
  // 标题
  .hot-search-title {
    margin-top: 10px;
    border-radius: initial;
  }

  // 信息
  .hot-search-info {

    li {
      background-color: @hot-search-info-head-bg;
      border: 1px solid #f9f7f7;
      text-align: center;
      box-shadow: 0 0 50px rgba(61, 61, 61, 0.3);

      > p {
        font-size: 18px;
        background-color: @hot-search-info-content-bg;
      }

      a {
        p {
          color: @hot-search-info-content-info;
        }
      }
    }
  }
}

// 美食专区
.food-head {
  ul {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #b1b1b1;
    margin: 15px 0 10px 0;
    padding-top: 10px;

    li {
      font-weight: bold;
      font-size: 22px;

      &:nth-child(even) {
        a {
          font-size: inherit;
          color: red;
        }
      }
    }

  }
}

// 各地区美食
.food-local {
  border-top: 1px solid #b1b1b1;
  // 地点
  .ul {
    display: flex;
    align-items: center;
    align-content: flex-end;
    padding-bottom: 15px;

    h3 {
      padding-right: 5px;
    }

    i {
      font-size: 18px;
      color: #f04a4a;
    }
  }

  // 封面
  .food-wrapper {
    background-color: #f2f1f1;

    .food {
      transition: all .3s;

      &:hover {
        // 使用新技术：动画（后期有望加帧动画效果）
        //
        // 平移动画组
        transform: translateY(-4px) translateX(4px);
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        // 旋转动画组
        //transform: rotateY(360deg);
        //backface-visibility: hidden;
        // 缩放动画组
        //transform: scale(1.1);
        // 综合组
        //transform: translateY(-4px) translateX(4px) rotateY(360deg) scale(2);
        z-index: 9;
      }

      .thumbnail {
        text-align: center;

        .food-cover {
          width: 100%;
        }

        .food-title {
          font-weight: bold;
        }
      }
    }
  }
}

// 三端顺序不可交换
@import "pc";
@import "flat";
@import "mobile";