/* class(类)选择器 .+类名{} */
.mouth {
    /* 样式名称:样式值; */
    /* 宽度:300(px 单位 像素); */
    position: relative;
    top: 150px;
    width: 100px;
    /* 高度:200px; */
    height: 100px;
    /* 上外边距 */
    /* 背景颜色:颜色值(颜色单词);
    background-color: darkorchid;*/
    /* 圆角 顺时针 左上 右上 右下 左下 */
    border-radius: 50px 50px 50px 50px;
    animation: peas 1s linear infinite;
}

@keyframes peas {
    0% {
        /* 盒子阴影 横向 纵向 模糊半径 扩展 颜色  */
        box-shadow: 150px 0 0 -35px #a66deb,
        300px 0 0 -35px #a66deb;
    }
    100% {
        box-shadow: 0 0 0 -35px #a66deb,
        150px 0 0 -35px #a66deb;
    }
}

/* 逗号 并列选择器 和 */
.top, .bottom {
    width: 100px;
    height: 50px;
    /* 左外边距 */
    margin-left: 50px;
    background-image: linear-gradient(to right, #0838f8, #bf07e9);
}

.top {
    border-radius: 50px 50px 0 0;
    /* 播放动画 名称 时间 匀速 无限循环  */
    animation: topmouth 1s linear infinite;
}

.bottom {
    border-radius: 0 0 50px 50px;
    animation: bottommouth 1s linear infinite;
}

/* 关键帧 动画名称 */
@keyframes topmouth {
    /* 开始的画面 */
    0% {
        transform: rotate(0deg);
    }
    /* 中间 */
    50% {
        /* CSS3变换 旋转 度数deg 逆时针 */
        transform: rotate(-30deg);
    }
    /* 结束 */
    100% {
        transform: rotate(0deg);
    }
}

@keyframes bottommouth {
    /* 开始的画面 */
    0% {
        transform: rotate(0deg);
    }
    /* 中间 */
    50% {
        /* 顺时针 */
        transform: rotate(30deg);
    }
    /* 结束 */
    100% {
        transform: rotate(0deg);
    }
}

/*
    CSS3动画 -> 关键的画面(关键帧) 剩余的画面计算机会自动补充
    传统动画 -> 动画片 动态效果 -> 本身由很多张静止的画面去连续播放形成的
 */

hr {
    margin-top: 50px;
    border-color: #4df107;
}

.music {
    width: 600px;
    margin: 0 auto;
}

h4 {
    text-align: left;
    padding: 15px 0 30px 0;
}

.video, .image {
    margin-left: 28px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid #4df107;
    float: left;
    width: 1400px;
    height: 788px;
}

.video > iframe {
    border: none;
}

.auto_img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-top: auto;
    background-image: url("https://oahgnaix.gitee.io/website-repository/images/lunbo/img1.jpg");
    background-size: 100% 100%;
}